<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cyton_gamma_1500">
  <xacro:include filename="$(find cyton_gamma_1500_description)/cyton_gamma_1500_macros.urdf.xacro" />

  <xacro:base_footprint prefix="" />
  <xacro:cyton_gamma_1500 prefix="" virtual_ee="true" />
</robot>
