<launch>
        <!-- Generates the URDF, useful for incorporating the manipulator in your own robot description -->
        <node name="xacro" pkg="xacro" type="xacro" args="-o $(find cyton_gamma_1500_description)/cyton_gamma_1500.urdf $(find cyton_gamma_1500_description)/cyton_gamma_1500.urdf.xacro" />
</launch>
